.btn-primary {
  color: teal;
}

.btn-secondary {
  color: orange;
}

.btn-danger {
  color: crimson;
}

.btn-success {
  color: green;
}

.btn-warning {
  color: gold;
}

.btn-info {
  color: dodgerblue;
}

.btn-muted {
  color: gray;
}

.btn-ghost {
  color: pink;
}

.btn-outline {
  color: slateblue;
}
